@media screen and (max-width:700px){
    * {
        font-size: 16px;
        line-height: 150%;
    }
    
 }
    
 
@media screen and(max-width: 700px) {
    table {
        width: 100%;
    }
    
}

@media print {
    header, footer, aside, button, section, iframe, .social{
        display: none;
    }
}
main {
    padding: none;
    box-shadow: none;
}
